NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_DEV_LOGS=true

# After deploy-testnet.sh + init-contracts.sh
NEXT_PUBLIC_SY_VAULT_ID=
NEXT_PUBLIC_MARKET_ID=
NEXT_PUBLIC_PT_TOKEN_ID=
NEXT_PUBLIC_YT_TOKEN_ID=
NEXT_PUBLIC_USDC_ID=
